@font-face {
    font-family: "Azonix";
    src: url("./font/Azonix.woff2") format("woff2"),
    url("./font/Azonix.woff2") format("woff");
}

/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Rajdhani', sans-serif;*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body
{
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.experience
{
    position: fixed;
    width: 100vw;
    height: 100vh;
}

#containerInfo {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    margin: 10px;
}

#containerInfo :is(.type, .systemName, .coords, .area ) {
    margin: 3px 0;
}

.systemName {
    font-size: 1.5rem;
    /*font-family: Rajdhani, sans-serif;*/
    font-weight: 500;
    margin:0;
    text-transform: uppercase;
}

.coords{
    opacity: .75;
}
